body {
  color:white;
}

a{
  color:white;
}

#date{
  margin-bottom: 1%;
}
#calorieCounter {
  justify-content: center;
  color: white;
  padding-top:0.5%;
  padding-bottom: 0.5%;
  background-color: #363231;
	width: 25%;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
}

#addMealButton{
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 25%;
  height: 25px;
  background: #FF6010;
  padding: 20px;
  text-align: center;
  border-radius: 50px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.meals{
  margin-top: 1%;
  border-collapse: collapse;
  width: 50%;
  margin-left: 25%;
}

.mealRowTitle{
  width: 15%;
}

#meals th, td{
  border: 1px solid white;
  padding: 10px;
  width: auto;
  text-align: left;
}

#tableAddMeal{
  margin-top: 3%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  /* margin-left: 17.5%; */
}


#formdsdsdiv{
  margin: 10%;
  background: grey;
  text-align: center;
  align-items: center;
  height: 80%;
  padding: 1%;
  top: 50%
}



/*dietMenu */

#dietMenu{
  color: #dedcdc;
  overflow: hidden;
  text-align: center;
  align-items: center;
  font-size: 18px;
  color: white;
  background: #22201f;
  padding-top: 14px;
  padding-bottom: 14px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  margin-top: 2%%;
  margin-bottom: 5%;
}
#dietMenu a{
  padding: 14px 16px;
  margin: 0%;
  width: 125px;
  height: 55px;
  text-decoration: none;
}

#dietMenu a:hover{
  background-color: #605755;
  color: black;
}

#backLink{
  display: block;
  width: 115px;
  height: 25px;
  background: #FF6010;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* Add Meal */
#mealSelector {
  margin-top: 3%;
  margin-bottom: 0.5%;
}

#addButton{
  margin-top: 3%;
  margin-bottom: 1%;
  width: 50%;
}

#displayMsg{
  font-size: 24px;
  color: white;
  background: #373b40;
  padding: 25px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#backButton{
  /* width: 25%; */
  display: block;
  width: 115px;
  height: 25px;
  background: #FF6010;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* dynamic meal tables */
#dynamicMealTable{
  margin-top: 3%
}
