body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #333;
}

h2 {
  padding-top : 15px;
  padding-right: 132px;
}

.formdiv{
  margin: 10%;
  background: grey;
  text-align: center;
  align-items: center;
  height: 80%;
  padding: 1%;
  top: 50%
}

form{
  display : inline-block;
}

select #gender{
  width: 160px;
}

/* =================================================
=================== Questionnaire ==================
================================================= */

.questionnaire-image{
  border-radius: 50%;
  width: 14vw;
  background-color: white;
}

/* learned how to use image as radio input from
https://stackoverflow.com/questions/17541614/use-images-instead-of-radio-buttons */

[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type=radio] + img {
  cursor: pointer;
}

[type=radio]:checked + img {
  box-shadow: 0 0 3pt 2pt red;
}

h3 {
  font-size: 2.5em;
  margin: 0.25em;
}

h4 {
  font-size: 1.75em;
  margin: 0.375em;
}

#skip-text{
  display: inline-block;
  font-size: 1.5em;
}

#continue-button{
  font-size: 1.25em;
}

#experience-0, #experience-1, #experience-2{
  width: 33%;
  vertical-align: top;
}