
/* =================================================
====================== Header ======================
================================================= */

/* can have a seperate .css file just for header, maybe */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav h2 {
  padding-top : 15px;
  padding-right: 132px;
}
.topnav {
  overflow: hidden;
  background-color: #22201f;
  width: 100%;
  text-align: center;
  font-size: 10px;
  color: #dedcdc;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
  width: 125px;
  height: 55px;
}

.topnav a:hover {
  background-color: #605755;
  color: black;
}

.logo {
    display: inline-block;
    align: center;
    width: 100%;
    height: 100%;
}

/* =================================================
=================== Workout Page ===================
================================================= */


body {
	background-color: #363231;
}

#centering-container {
	text-align: center;
	padding-top: 1.5%;
}

.day-div {
	display: inline-block;
	width: 92%;
	margin-bottom: 1.5%;
}

table, th, td {
	/*border: 1px solid black;*/
}

.day-div-exercises table{
	width: 100%;
	padding-bottom: 0.375em;
	padding-top: 0.375em;
	border-radius: 0 0.5em 0.5em 0.5em;
	background-color: #4b4342;
	/* used this generator for box shadow https://www.cssmatic.com/box-shadow */
	-webkit-box-shadow: 0px 0px 24px 8px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 24px 8px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 24px 8px rgba(0,0,0,0.2);
}

/* learned how to add circles around images from https://www.w3schools.com/howto/howto_css_rounded_images.asp */
.exercise-icon {
  border-radius: 50%;
  width: 3.2em;
}

.day-other-titles{
	display: inline;
}

.day-other-titles button{

	background-color: #4b4342;
	color: #7d7272;
}
.exercise-icon-cell {
	text-align: right;
}

.exercise-info-cell {
	text-align: left;
}

.exercise-name-cell h3{
	font-size: 1.5em;
	font-weight: normal;
	margin: 0;
	text-align: left;
	color: #dedcdc;
}

.exercise-info-cell{
	vertical-align: top;
}

.exercise-info-button, .one-rep-max-button{
	padding: 0;
	width: 1.5em;
	height: 1.5em;
	border-color: lightgrey;
	border-radius: 50%;
	font-size: 0.75em;
}

.day-div-exercises tr td{
	padding-top: 0.125em;
	padding-bottom: 0.125em;
}

.day-div-header { 
	text-align: left;
	border-radius: 0.5em 0.5em 0 0;
	background-color: #3f3938;
	float: left;
	padding-left: 1em;
	padding-right: 1em;
	/* used this generator for box shadow https://www.cssmatic.com/box-shadow */
	-webkit-box-shadow: 0px 0px 24px 8px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 24px 8px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 24px 8px rgba(0,0,0,0.2);
}

.day-current-title{
	font-size: 2em;
	padding-right: 0.25em;
	color: white;

}

.day-other-titles{
	vertical-align: top;
}

.day-other-titles tr td button{
	border: none;
	font-size: 0.75em;
}

.exercise-data-cell form input{
	background-color: #645b5a;
	border-color: #645b5a;
	color: #dedcdc;
	text-align: center;
	font-size: 1.25em;
	width: 3.25em;
}

.exercise-data-cell form select{
	background-color: #645b5a;
	border-color: #645b5a;
}

.exercise-data-cell form select{
	/* learned how to remove select arrow from here https://stackoverflow.com/a/27641804 */
	-webkit-appearance: none;
	color: #dedcdc;
	font-size: 1.25em;
}

/*.exercise-data-cell form input{ //use this color set somewhere else
	background-color: #2e2b2a;
	border-color: #3f3938;
}*/