
/* =================================================
====================== Header ======================
================================================= */

/* can have a seperate .css file just for header, maybe */

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav h2 {
  padding-top : 15px;
  padding-right: 132px;
}
.topnav {
  overflow: hidden;
  background-color: #22201f;
  width: 100%;
  text-align: center;
  font-size: 10px;
  color: #dedcdc;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
  width: 125px;
  height: 55px;
}

.topnav a:hover {
  background-color: #605755;
  color: black;
}

/* added by raymond for aligning the button */
.topnav a.navbar{
  float: right;
  padding: 34px 16px;
  text-decoration: none;
  font-size: 15px;
  width: 80px;
  height: 15px
}

.logo {
    display: inline-block;
    align: center;
    width: 100%;
    height: 100%;
}

/* =================================================
=================== Workout Page ===================
================================================= */


body {
	background-color: #363231;
}

#centering-container {
	text-align: center;
	padding-top: 1.5%;
}

.day-div {
	display: inline-block;
	max-width: 75em; /* tables look weird when too large */
	max-width: 92%;  /* so that there is some margin on sides if width of window is small */
	margin-bottom: 1.5%;
}

table, th, td {
	/*border: 1px solid black;*/
}


.day-div-exercises table{
	border-collapse: collapse;	/* removing this causes lines to appear during selection */
	table-layout: fixed;
	max-width: 75em;
	width: 100%;
	/*padding-bottom: 0.5em;
	padding-top: 0.5em;*/
	border-radius: 0 0.5em 0.5em 0.5em;
	background-color: #4b4342;
	/* used this generator for box shadow https://www.cssmatic.com/box-shadow */
	-webkit-box-shadow: 0px 0px 24px 8px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 24px 8px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 24px 8px rgba(0,0,0,0.2);
}

/* learned how to add circles around images from https://www.w3schools.com/howto/howto_css_rounded_images.asp */
.exercise-icon {
  border-radius: 50%;
  width: 3.2em;
}

.day-other-titles{
	display: inline;
}

.day-other-titles button{

	background-color: #4b4342;
	color: #7d7272;
}
.exercise-icon-cell {
	width: 5.25em;
	text-align: right;
	border-bottom-left-radius: 0.5em;
	border-top-left-radius: 0.5em;
}

.exercise-info-cell {
	width: 5.25%;
	text-align: left;
}

.exercise-name-cell{
	max-width: 20em;
}

.exercise-name-cell h3{
	font-size: 1.5em;
	font-weight: normal;
	margin: 0;
	text-align: left;
	color: #dedcdc;
}

.exercise-info-cell{
	vertical-align: top;
}

.exercise-info-button{
	padding: 0;
	width: 1.5em;
	height: 1.5em;
	border-color: lightgrey;
	border-radius: 50%;
	font-size: 0.75em;
}

.exercise-comment-cell {
	text-align: right;
	width: 5.25%;
}

.exercise-comment-button, .one-rep-max-button{
	padding: 0;
	width: 1.5em;
	height: 1.5em;
	border-color: lightgrey;
	border-radius: 50%;
	font-size: 1.125em;
	background-color: white;
}

.day-div-exercises tr td{
	padding-top: 0.375em;
	padding-bottom: 0.375em;
}

.day-div-header {
	text-align: left;
	border-radius: 0.5em 0.5em 0 0;
	background-color: #3f3938;
	float: left;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 0.375em;
	padding-bottom: 0.375em;
	/* used this generator for box shadow https://www.cssmatic.com/box-shadow */
	-webkit-box-shadow: 0px 0px 24px 8px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 0px 24px 8px rgba(0,0,0,0.2);
	box-shadow: 0px 0px 24px 8px rgba(0,0,0,0.2);
}

.day-current-title{
	font-size: 2em;
	padding-right: 0.25em;
	color: white;

}

.day-other-titles{
	vertical-align: top;
}

.day-other-titles tr td button{
	border: none;
	font-size: 0.75em;
}

.exercise-data-cell {
	width: 16em;
}

.exercise-data-cell form input{
	background-color: #645b5a;
	border-color: #645b5a;
	color: #dedcdc;
	text-align: center;
	font-size: 1.25em;
	width: 3.25em;
}

.exercise-data-cell form select{
	background-color: #645b5a;
	border-color: #645b5a;
}

.exercise-data-cell form select{
	/* learned how to remove select arrow from here https://stackoverflow.com/a/27641804 */
	-webkit-appearance: none;
	color: #dedcdc;
	font-size: 1.25em;
}

/*.exercise-data-cell form input{ //use this color set somewhere else
	background-color: #2e2b2a;
	border-color: #3f3938;
}*/

.exercise-one-rep-max-button-cell {
	width: 3.75em;
	text-align: left;
	border-bottom-right-radius: 0.5em;
	border-top-right-radius: 0.5em;
}

/* =================================================
================ Draggable Exercises ===============
================================================= */

/* learned how to add drag and droppable table rows from https://stackoverflow.com/a/21807833 */

table, td, th{
	/*border:1px solid black;*/
}

.childgrid tr {
	cursor: pointer;
}

td {
	/*background-color: #4b4342;*/
}
.selectedRow td{
	/*background-color: #363231;*/

}

.selectedRow, .selectedRow:active{
	background-color: #363231;
	cursor: move;
	-webkit-box-shadow: 0px 0px 10px 18px rgba(54,50,49,1);
	-moz-box-shadow: 0px 0px 10px 18px rgba(54,50,49,1);
	box-shadow: 0px 0px 10px 18px rgba(54,50,49,1);
}



/* =================================================
=================== Comment Box ====================
================================================= */


/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .exercise-comment-form {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 0.75em 0.75em;
  position: absolute;
  z-index: 3;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .exercise-comment-form::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}


.exercise-comment-button-empty {
	opacity: 0.20;
}

.exercise-comment-button-empty:hover {
	opacity: 1;
	transition: opacity 0.25s;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
