.day-round-complete{
	display: inline;
}

.round-complete-button{
	padding: 0;
	width: 1.5em;
	height: 1.5em;
	border-color: lightgrey;
	border-radius: 50%;
	font-size: 1.125em;
	background-color: white;
}

.round-complete-button{
	opacity: 0.5;
	margin-left: 0.375em;
	background-color: #9DC183;
}

.day-round-complete{
	vertical-align: top;
}

.day-round-complete tr td button{
	border: none;
	font-size: 0.75em;
}

.round-complete-button-unclicked{
	opacity: 0.20;
}

.round-complete-button-unclicked:hover{
	opacity: 1;
	transition: opacity 0.25s;
}