<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title> Burning + </title>
  <link rel="stylesheet" href="./stylesheets/starterpage.css">
  <link rel="stylesheet" href="./stylesheets/diet.css">
  <link rel="stylesheet" href="./stylesheets/nav-bar.css">
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous" ></script>
  <script src="js/diet.js" defer></script>
  <!-- datepicker from  https://jqueryui.com/datepicker/-->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>
</head>
<body>
  <div class="topnav">
    <a href="homepage"><img src="images/logo-inverted.png"class="logo"></a>
    <a href="logout" class="navbar">Signout</a>
    <a href="profile" class="navbar">Profile</a>
      <form class="go-to-workout-page" action="/go-to-workout-page" method="post">
        <button type="submit" class="navbar">Workout</button>
      </form>
    <a href="diet" class="navbar">Diet</a>
    <a href="forum.html" class="navbar">Forum</a>
    <a href="homepage" class="navbar">Homepage</a>
    <!-- <h2>Nutrition</h2> -->
  </div>


  <div class="formdiv">


    <div id="addMeal">
      <a id = "backLink" href="/diet"> Back </a>

      <p id = "displayMsg"> <%= msg %> </p>

      <div class = "search">
        <input type="text" id="searchBar" placeholder="Search for foods">
        <button id = "apiSearchButton"> Search </button>
      </div>

      <form name = "addMealForm" action ="add" method="post">

        <div id = "mealSelector">
            <select  name="meal">
              <option value="" disabled selected>Select Meal</option>
              <option value="breakfast">Breakfast</option>
              <option value="lunch">Lunch</option>
              <option value="dinner">Dinner</option>
              <option value="snack">Snack</option>
            </select>
        </div>

        <table id = "tableAddMeal">
          <tr>
              <th>Date</th>
              <th>Food</th>
              <th>Calories</th>
              <th>Fat (g)</th>
              <th>Carbs (g)</th>
              <th>Protien (g)</th>
          </tr>

          <tr class =  "mealRow">
            <td><input size = '7' type="text" name = "mealDate" id="datepicker" value = <%= date %> ></td>
            <td><input size = '10' id = "mealFoodCell" type ="text" name = "mealFood", placeholder = ""></td>
            <td><input style="width: 75px" id = "mealCaloriesCell" type ="number" step="0.01" name = "mealCalories", placeholder = ""></td>
            <td><input style="width: 75px" id = "mealFatCell" type ="number" step="0.01" name = "mealFat", placeholder = ""></td>
            <td><input style="width: 75px" id = "mealCarbsCell" type ="number" step="0.01" name = "mealCarbs", placeholder = ""></td>
            <td><input style="width: 75px" id = "mealProtienCell" type ="number" step="0.01" name = "mealProtien", placeholder = ""></td>
          </tr>
        </table>
        <button type = "submit" id="addButton" >Add</button>
      </form>
      <!-- <table id = "tableAddMeal" class = "meals">
        <tr>
            <th>Food</th>
            <th>Calories</th>
            <th>Fat (g)</th>
            <th>Carbs (g)</th>
            <th>Protien (g)</th>
        </tr>

        <tr class =  "mealRow">
          <td id = "mealFood"></td>
          <td id = "mealCalories"></td>
          <td id = "mealFat"></td>
          <td id = "mealCarbs"></td>
          <td id = "mealProtien"></td>
        </tr>
      </table> -->


    </div>

      <!-- <button id = "apiTestButton"> API TEST BUTTON </button> -->
  </div>
</body>
</html>
