<!DOCTYPE html>
  <html lang="en" dir="ltr">
    <head>
      <meta charset="utf-8">
      <title>Burning +</title>
      <link rel="stylesheet" href="./stylesheets/adminpage.css">
      <link rel="stylesheet" href="./stylesheets/nav-bar.css">
    </head>
    <body>
      <div class="topnav">
        <a href="admin"><img src="images/logo-inverted.png"class="logo"></a>
        <a href="logout" class="navbar">Signout</a>
        <a href="admin" class="navbar">All User</a>
      </div>

      <div class="centerdiv">
        <div>
          <h1>All User Info</h1>

          <div class="admindiv">
            <table class="showuser">
              <tr>
                <th><u>Username</u></th>
                <th><u>Age</u></th>
                <th><u>Gender</u></th>
                <th></th>
              </tr>


              <!-- user list -->
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td><button type="button" name="button">Show</button></td>
              </tr>



            </table>
          </div>

      </div>
    </body>
  </html>
