<!DOCTYPE html>
  <html lang="en" dir="ltr">
    <head>
      <meta charset="utf-8">
      <title>Burning +</title>
      <link rel="stylesheet" href="./stylesheets/adminpage.css">
      <link rel="stylesheet" href="./stylesheets/nav-bar.css">
    </head>
    <body>
      <div class="topnav">
        <a href="admin"><img src="images/logo-inverted.png"class="logo"></a>
        <a href="logout" class="navbar">Signout</a>
        <a href="adminPage" class="navbar">All User</a>
      </div>

      <div class="centerdiv">
        <div>
          <h1><%=name%> Diet</h1>

            <div class="admindiv">
                <form class="" action="/diet-date" method="post">
                  <table>
                    <tr>
                      <td class="show"><strong>Date : </strong></td>
                      <td class="show">
                        <select  name ="date" id="date" onchange="change_data(value);">
                          <% db_date.forEach((post) => {%>
                            <option value="<%-post.date%>"><%-post.date%></option>
                          <% }) %>
                        </select>
                      </td>
                      <td class="show">
                        <button type="submit" name="button">Search</button>
                      </td>
                    </tr>
                  </table>

                </form>
            </div>

          <form action="/admin-profile" method="post">
            <button type="submit" name="button">Back</button>
          </form>

        </div>
      </div>
    </body>
  </html>
