<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Burning +</title>
    <link rel="stylesheet" href="./stylesheets/starterpage.css">

  </head>
  <body>
    <div class="topnav">
      <a><img src="image/logo.png" class="logo"></a>
      <h2>Welcome to Burning+ !!!!!</h2>
    </div>

    <div class="formdiv">
      <h3>Login in here</h3>
      <form class = "form" action='/burning-plus.html' method="post">
          <table>
            <tr><td><strong>Username:  </strong></td>  <td><input type="text" name='username' placeholder="username" ></td></tr>
            <tr><td><strong>Password:  </strong></td>  <td><input type="password" name="pw"></td></tr>
            <tr><td colspan="2"><button type="submit" name="signinbut">Login</button></td></tr>
          </table>
      </form>
      <p><%=msg%></p>
      <p>New user?</p>
      <a href="signup.html">Sign up to create your account</a>


    </div>


  </body>
</html>
