<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Signup Burning + </title>
    <link rel="stylesheet" href="./stylesheets/starterpage.css">
    <script src="signup.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="topnav">
      <a><img src="image/logo.png" class="logo"></a>
      <h2>WORKOUT FORUM</h2>
    </div>
    <div id="forumMain">
        <h3>DISCUSSIONS</h3>
        <div class="forumTopics">
          <a href="/forum/workout"> Workout </a>
          <p> BLURRRRRRRRRRPPPPPPPPPPPBBBBBBBBBBB </p>
        </div>
        <div class="forumTopics">
          <a href="/forum/nutrition"> Nutrition </a>
          <p> BLURRRRRRRRRRPPPPPPPPPPP </p>
        </div>
        <div class="forumTopics">
          <!-- idek to be replaced -->
          <a href="/forum/motivation"> Motivation </a>
          <p> BLURRRRRRRRRRPPPPPPPPPPP </p>
        </div>
        <div class="forumTopics">
          <a href="/forum/questions"> General Questions </a>
          <p> BLURRRRRRRRRRPPPPPPPPPPP </p>
        </div>
      </div>
  </body>
</html>
