<!DOCTYPE html>
  <html lang="en" dir="ltr">
  <% var i=0; var weight_list =new Array(test.legth); %>
    <% test.forEach((post) =>{%>
        <% weight_list[i] = post.weight; %>
        <% i++; %>
    <%}) %>
    <head>
      <meta charset="utf-8">
      <title>Burning +</title>
      <link rel="stylesheet" href="./stylesheets/starterpage.css">
      <link rel="stylesheet" href="./stylesheets/nav-bar.css">
      <link rel="stylesheet" href="./stylesheets/question.css">
      <script>
      function change_exercise_option(value){
          if(value == "condition"){
            document.getElementById("table_condition_exercise_option").style.display = "inline-block";
            document.getElementById("table_physique_exercise_option").style.display = "none";
            document.getElementById("table_strength_exercise_option").style.display = "none";
            document.getElementById("routine_option").value ="condition";
          }else if(value == "physique"){
            document.getElementById("table_condition_exercise_option").style.display = "none";
            document.getElementById("table_physique_exercise_option").style.display = "inline-block";
            document.getElementById("table_strength_exercise_option").style.display = "none";
            document.getElementById("routine_option").value ="physique";
          }else{
            document.getElementById("table_condition_exercise_option").style.display = "none";
            document.getElementById("table_physique_exercise_option").style.display = "none";
            document.getElementById("table_strength_exercise_option").style.display = "inline-block";
            document.getElementById("routine_option").value ="strength";
          }
        }

      </script>
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script type="text/javascript">

        google.charts.load('current', {'packages':['corechart']});


        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
          var gettest = "<%=weight_list%>";
          var array_number = gettest.split(',').map(Number);
          console.log(array_number);
          console.log(array_number[3]);
          // Create the data table.
          var data = new google.visualization.DataTable();
          data.addColumn('number', 'test');
          data.addColumn('number', 'num');
          for(var i=0; i<array_number.length;i++){
            var y = array_number[i];
            data.addRow([i,y]);
          }


          // Set chart options
          var options = {
            'legend' : 'NONE',
            'title':'weight verses time',
            'chartArea':{width:'50%',height:'50%'}
          };

          // Instantiate and draw our chart, passing in some options.
          var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
          chart.draw(data, options);
        }
      </script>
    </head>
    <body>
      <div class="topnav">
        <a href="homepage"><img src="images/logo-inverted.png"class="logo"></a>
        <a href="logout" class="navbar">Signout</a>
        <a href="profile" class="navbar">Profile</a>
        <form class="go-to-workout-page" action="/go-to-workout-page" method="post">
          <button type="submit" class="navbar">Workout</button>
        </form>
        <a href="diet.html" class="navbar">Diet</a>
        <a href="forum.html" class="navbar">Forum</a>
        <a href="homepage" class="navbar">Homepage</a>
      </div>

      <div class="formdiv">
        <div>
          <h1>Homepage</h1>
          <div id="table_condition_exercise_option" style=" display: inline-block">
            <form class="exercise_graph_form" action="/gen_graph" method="post">

              <select  name ="routine_option" id="routine_option" onchange="change_exercise_option(value);">
                <option value="condition">Conditioning</option>
                <option value="physique">Physique</option>
                <option value="strength">strength</option>
              </select>

              <select name ="exercise_option" id="exercise_option">
                <option disabled>      ---    Part One: Physique    ---      </option>
                <option value="Dumbbell Shoulder Flys">Dumbbell Shoulder Flys</option>
                <option value="Incline Dumbell Shoulder Press">Incline Dumbell Shoulder Press</option>
                <option value="Overhead Press">Overhead Press</option>
                <option value="Rear Delt Cable Crossovers">Rear Delt Cable Crossovers</option>

                <option disabled>      ---    Part two: Conditioning    ---      </option>
                <option value="Hammer Curls">Hammer Curls</option>
                <option value="Incline Dumbbell Curl">Incline Dumbbell Curl</option>
                <option value="Preacher Curls">Preacher Curls</option>
              </select>

              <select name ="record_option" id="record_option">
                <option value="normal">Normal</option>
                <option value="max">Max</option>
              </select>

              <button type="submit" name="refreshbut">Refresh</button>
            </form>
          </div>

          <div id="table_physique_exercise_option" style=" display: none">
            <form class="exercise_graph_form" action="/gen_graph" method="post">

              <select name ="routine_option" id="routine_option" onchange="change_exercise_option(value);">
                <option value="physique" >Physique</option>
                <option value="condition">Conditioning</option>
                <option value="strength">strength</option>
              </select>

              <select name="exercise_option" id="exercise_option">
                <!-- shoulder day -->
                <option disabled>      ---   Shoulder Day   ---      </option>
                <option value="Dumbbell Shoulder Flys">Dumbbell Shoulder Flys</option>
                <option value="Incline Dumbell Shoulder Press">Incline Dumbell Shoulder Press</option>
                <option value="Overhead Press">Overhead Press</option>
                <option value="Rear Delt Cable Crossovers (shouder)">Rear Delt Cable Crossovers</option>

                <!-- back day -->
                <option disabled>      ---    Back Day    ---      </option>
                <option value="Chin-ups">Chin-ups</option>
                <option value="Dual Pulley Row">Dual Pulley Row</option>
                <option value="Iso-Lateral Pulldown">Iso-Lateral Pulldow)n</option>
                <option value="Rear Delt Cable Crossovers (back)">Rear Delt Cable Crossovers</option>

                <!-- leg day -->
                <option disabled>      ---    Leg Day    ---      </option>
                <option value="Calf Raise">Calf Raise</option>
                <option value="Deadlift">Deadlift</option>
                <option value="Leg Press">Leg Press</option>
                <option value="Squat">Squat</option>

                <!-- chest day -->
                <option disabled>      ---    Chest Day    ---      </option>
                <option value="Bench Press">Bench Press</option>
                <option value="Chest Press">Chest Press</option>
                <option value="Dips">Dips</option>

                <!-- biceps -->
                <option disabled>      ---    Biceps    ---      </option>
                <option value="Hammer Curls">Hammer Curls</option>
                <option value="Incline Dumbbell Curl">Incline Dumbbell Curl</option>
                <option value="Preacher Curls">Preacher Curls</option>

                <!-- tricep -->
                <option disabled>      ---    Tricep    ---      </option>
                <option value="Tricep Pulldowns">Tricep Pulldowns</option>
                <option value="Cable Skullcrushers">Cable Skullcrushers</option>\
                <option value="Lower Chest Cable Crossovers">Lower Chest Cable Crossovers</option>
              </select>


              <select name ="record_option" id="record_option">
                <option value="normal">Normal</option>
                <option value="max">Max</option>
              </select>

              <button type="submit" name="refreshbut">Refresh</button>
            </form>
          </div>

          <div id="table_strength_exercise_option" style=" display: none">
            <form class="exercise_graph_form" action="/gen_graph" method="post">

              <select name ="routine_option" id="routine_option" onchange="change_exercise_option(value);">
                <option value="strength">strength</option>
                <option value="condition">Conditioning</option>
                <option value="physique" >Physique</option>
              </select>

              <select name ="exercise_option" id="exercise_option">
                <option disabled>      ---  Workout Cycle  ---      </option>
                <option value="45-Degree Back Extension">45-Degree Back Extension</option>
                <option value="Back Squat">Back Squat</option>
                <option value="Bench Press">Bench Press</option>
                <option value="Deadlift">Deadlift</option>
              </select>

              <select name ="record_option" id="record_option">
                <option value="normal">Normal</option>
                <option value="max">Max</option>
              </select>

              <button type="submit" name="refreshbut">Refresh</button>
            </form>
          </div>

          <div id="chart_div" style=" margin:5% "></div>
          <br>
      </div>
    </body>
  </html>
