<!DOCTYPE html>
  <html lang="en" dir="ltr">
    <head>
      <meta charset="utf-8">
      <title>Burning +</title>
      <link rel="stylesheet" href="./stylesheets/starterpage.css">
      <link rel="stylesheet" href="./stylesheets/question.css">
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script type="text/javascript">

        google.charts.load('current', {'packages':['corechart']});

        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {

          // Create the data table.
          var data = new google.visualization.DataTable();
          data.addColumn('string', 'test');
          data.addColumn('number', 'num');
          data.addRows([
            ['do', 3],
            ['ra', 1],
            ['me', 1],
            ['fa', 1],
            ['so', 2]
          ]);

          // Set chart options
          var options = {
            'legend' : 'NONE',
            'title':'Test title',
            'chartArea':{width:'50%',height:'50%'}
          };

          // Instantiate and draw our chart, passing in some options.
          var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
          chart.draw(data, options);
        }
      </script>
    </head>
    <body>
      <div class="topnav">
        <a href="homepage"><img src="images/logo.png"class="logo"></a>
        <a href="logout" class="navbar">Signout</a>
        <a href="profile" class="navbar">Profile</a>
        <a href="workout-physique.html" class="navbar">Workout</a>
        <a href="diet.html" class="navbar">Diet</a>
        <a href="forum.html" class="navbar">Forum</a>
        <a href="homepage" class="navbar">Homepage</a>
      </div>

      <div class="formdiv">
        <div>
          <h1>Homepage</h1>
          <div id="chart_div" style=" margin:5% "></div>
          <br>
      </div>
    </body>
  </html>
