<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Burning +</title>
    <link rel="stylesheet" href="/stylesheets/starterpage.css">
    <link rel="stylesheet" href="/stylesheets/nav-bar.css">
    <script src="signup.js" charset="utf-8"></script>
  </head>
  <body>
    <div class="topnav">
      <a><img src="/images/logo-inverted.png" class="logo"></a>
      <h2>Welcome to Burning+ !!!!!</h2>
    </div>

    <div class="formdiv">
      <h3>Login in here</h3>
      <form class = "form" action='/burning-plus.html' method="POST">
          <table>
            <tr><td><strong>Username:  </strong></td>  <td><input type="text" name='username' id="user"placeholder="username" required ></td></tr>
            <tr><td><strong>Password:  </strong></td>  <td><input type="password" name="pw" id="pw" placeholder="password" required></td></tr>
            <tr><td colspan="2"><button type="submit" name="signinbut" >Login</button></td></tr>
          </table>
      </form>
      <br>New user?<br>
      <a href="/signup.html">Sign up to create your account</a>
    </div>
  </body>

  <script type="text/javascript">
    alert("You must log in before accessing this page!");
  </script>
</html>
