<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Burning +</title>
  <link rel="stylesheet" href="./stylesheets/starterpage.css">
  <link rel="stylesheet" href="./stylesheets/question.css">
</head>
<body>
  <div class="topnav">
    <a><img src="images/logo.png" class="logo"></a>
    <h2>Welcome to Burning+ !!!!!</h2>
  </div>

  <div class="formdiv">
    <h3 style="color:white">Basic Question</h3>
    <form class="form" action="/beginnerQuestion" method="post">
      <strong>Q1: What would you like to get out of this site?</strong><br>
      <select type="text" name='Q1' id='question1'> <option disabled selected value> -- select an option -- </option>
        <option value="strongy">I want to lose weight really strongy</option> <option value="fit">I want to lose weight look fit</option>
        <option value="lifestyle">I want to lose weight healtheir lifestyle</option>
      </select><br>

      <br>
      <strong>Q2: What type of workout would you like to see posted on website?</strong><br>
      <input type="checkbox" name="q2o1" value="cardio" >Cardio workout<br>
      <input type="checkbox" name="q2o2" value="nutrition" >Nutrition / Supperment<br>
      <input type="checkbox" name="q2o3" value="lifting" >Lifting<br>
      <input type="checkbox" name="q2o4" value="yoga">Yoga<br>
      <br>

      <strong>Q3: What much time you want to spend per week?</strong><br>

      <select type="text" name='Q3' id='question3'> <option disabled selected value> -- select an option -- </option>
        <option value="1-2">1~2 Days</option> <option value="3-4">3~4 Days</option>
        <option value="5-7">5~7 Days</option><option value="idk">Not Decide Yet</option>
      </select><br>
      <br>

        <div class="button">
          <button  type="submit" name="signinbut">submit</button>
        </div>

    </form>
  </div>


</body>
</html>
